<nav class="navbar navbar-expand-lg custom justify-content-between" style="display: flex">
    <div class="row">
        <div style="display:flex">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="home" style="margin-left: 20px; color: white">SafeBooking</a>
            <a class="nav-link" href="destinations" style="color: white; margin-top: 5px;">Destinations</a>
        </div>

    </div>
    <a class="nav-link" (click)="openModal()" style="color: white; margin-right: 29px;">Login</a>
</nav>