.container{
    flex-wrap: wrap;
    display: flex;
    column-gap: 30px;
    padding-top: 20px;
    justify-content: center;
    row-gap: 15px;
}
.custombtn{
    background-color: #222733;
    color: white;
    margin-left: 12rem;
    margin-top: -14px;
}